
  <div class="item  col-xs-4 col-md-3">
    <div class="thumbnail">
    <!-- <img class="group list-group-image" src="http://absfreepic.com/absolutely_free_photos/small_photos/book-shelf-3264x2448_35867.jpg"
        alt="" /> -->
        <img class="group list-group-image" [src]="products.imageLinks['smallThumbnail']" >
      <div class="category">
        <h5 class="category-name">{{products.title}}</h5>
      </div>
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
            {{products.subtitle}}
        </h4>
  
        <div class="row">
          <div class="btn-group">
            <button class="btn btn-success" (click)="remove()">remove product</button>
          </div>
        </div>
      </div>
    </div>
  </div>
