
<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>


    <form [formGroup]="formGroup" (ngSubmit)="submitLogin()" class="login-container">

        <div *ngFor="let controlName of obj.keys(formGroup.controls)">
            <div class="formGroup">
                <input *ngIf="controlName=='Password'" type="password" formControlName="{{controlName}}" class="form-control" placeholder="{{controlName}}"/>
                <input *ngIf="controlName!='Password'" formControlName="{{controlName}}" class="form-control" placeholder="{{controlName}}"/>
                <div *ngIf="formGroup.controls[controlName].errors && formGroup.controls[controlName].touched" >
                    <small class="form-text text-muted" *ngFor="let err of obj.values(formGroup.controls[controlName].errors)">{{err}}</small>
                </div>
            </div>

        </div>

        <input type="submit" value="Login" [disabled]="formGroup.invalid" class="btn btn-primary" />

    </form>
</div>