input{

    margin: auto;
    text-align: center;
    margin-left: 100vh;
    margin-top: -2vh;
    margin-bottom: 7vh;
    height: 6vh;
    border-color: black;
    width: 12vw;
}
p{
       color: #d88345;
    font-size: 5vh;
    margin-left: 82vh;
    margin-bottom: -5vh;
    margin-top: 6vh;
}